
@media screen and (max-width:600px){
    body{
        margin: 0px;
        padding: 0px;
    }
   
    header{
        background:linear-gradient(rgba(198,108,73,0.4),rgba(198,108,73,0.4)),url("Images/bg.png");
        width: 373px;
        text-align: center;
        background-size: 100%;
        height: 275px;
        font-weight: 400px;
    }
    div.header{
        padding-top: 36px;
        line-height: 0px;
        position: relative;
    }
    div.header div#image_header{
        position: absolute;
        left: 34px;
        width:24px;
        bottom: 6px;
        display: inline-block;
    }
    h1{
        margin: 0px;
        font-family: Libre Franklin;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;

    }
    h2{
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top:50px;
        margin-bottom:0px;
    }
    h3{
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;        
        margin-top: 13px;
        color: #FFFFFF;
        margin-bottom: 0px;
    }
    h4{
        padding: 0px;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        margin-top: 41px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }
    section.about{
        margin:0px;
        padding-top: 25px;
        margin-bottom: 0px;

    }
    section.about h1{
        margin-left: 150px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
        margin-top: 0px;
    }
    section.about p {
        width:312px;
        height:212px;
        margin-right: 29px;
        margin-left: 34px;
        margin-top: 19px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
        color: #333333;
        margin-bottom: 8px;

    }
    section.skills{
        margin: 0px;
        padding-top: 25px;
        background: #FFFAF2;;
        padding-bottom: 7px;
    }
    section.skills h1{
        padding-top: 0px;
        margin-left: 156px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
        
    }
    div#image_skills{
        width: 224px;

        height: 218px;
        padding: 0px;
        margin:25px 80px 26px 71px;
    }
    div.skills_h1{
        display:flex;
        align-items: center;
        margin:0px;
        margin-bottom: 31px;

        
    }
    div.skills_h1 h1{
        margin: 0px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 25px;
        color: #333333;
        margin-left: 34px;
        margin-right: 59px;
        margin-bottom:0px;
        text-align: left;
        width: 39px;
    }
    div.skills_h1 p {
        margin: 0px;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
        color: #333333;

    }
    .skill-groups{
        display: flex;
        flex-direction: column;
    }
    .skill-groups [class*='group-']{
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        margin-bottom: 18px;
    }
    .skill-groups div.part-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0px;
        margin: 0px;
        margin-bottom:9px ;


    }
    .skill-groups div.part-2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 0px;
        margin: 0px;
    }
    .skill-groups h1.group-title{
        margin: 0px;
        padding: 0px;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 25px;
        color: #333333;
        text-align: left;
        margin-left: 34px;
        width: 98px;


    }
    div.loadbar{
        width: 211px;
        height: 18px;
        background: #F5D6AB;
        margin: 0px;
        padding: 0px;
        margin-right: 32px;
        position: relative;
    }
    section.skills h1.tools{
        margin: 0px;
        padding: 0px;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 25px;
        color: #333333;
        text-align: left;
        margin-left: 34px;
        width: 98px;
    }
    section.skills p.tools-description{
        margin: 0px;
        padding: 0px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
        margin-right: 32px;
        width: 211px;
        color: #333333;
    }
    section.group-1 .loadbar div{
        position: absolute;
        left: 0px;
        height: 100%;
        width:135.3px;
        background: #C66C49;
    }
    section.group-2 .loadbar div{
        position: absolute;
        left: 0px;
        height: 100%;
        width:165.27px;
        background: #C66C49;
    }
    section.group-3 .loadbar div{
        position: absolute;
        left: 0px;
        height: 100%;
        width:179.39px;
        background: #C66C49;
    }
    section.portfolio{
        margin: 0px;
        padding: 0px;
        padding-bottom:24px;
    }
    section.portfolio h1{
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
        padding-top: 25px;
    }
    section.portfolio h2{
        margin: 0px;
        padding:0px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        margin-top:19px;
        color: #333333;
    }
    section.portfolio p{
        margin: 0px;
        padding: 0px;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #333333;
        margin-top: 15px;
        margin-left: 34px;
        margin-right: 33px;
        height: 71px;
    }
    section.portfolio div.gallery{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        }
    div.gallery div.images-left{
        height: 196px;
        margin: 0px;
        display: flex;
        padding: 0px;
        margin-left: 34px;
        margin-right: 15px;
        flex-direction: column;
        justify-content: space-between;

    }
    div.gallery div.images-right{
        height: 196px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    footer {
        position: relative;
        margin: 0px;
        padding: 0px;
        padding-left: 42px;
        padding-bottom: 50px;
    }
    footer h1{
        margin: 0px;
        padding: 0px;
        margin-bottom: 25px;
        padding-top: 25px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-left:78px;
        color: #333333;
    }
    div.person-info{
        display: flex;
        flex-direction: row;
    }
    footer div.person-info ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    footer div.person-info ul li{
        margin: 0px;
        padding: 0px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        margin-bottom: 19px;
    }
    footer div.person-info ul.web-sites{
        margin-right: 99px;
        margin-bottom: 11px;
    }
    footer div.contacts{
        padding: 0px;
        margin: 0px;
    }
    footer div.contacts p.mail{
        margin: 0px;
        padding: 0px;
        margin-bottom: 7px;

        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
    }
    footer div.contacts p.phone{
        margin: 0px;
        padding: 0px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
    }
    footer img{
        width: 24px;
        position: absolute;
        bottom:64px;
        right: 33px;
    }

}