
/* @media screen and (max-width:600px){ */
    body{
        margin: auto;
        padding: 0px;
        width: 375px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        color: #333333;

    }
    p{
        margin: 0px;
        padding: 0px;
    }
   
    header{
        background:linear-gradient(rgba(198,108,73,0.4),rgba(198,108,73,0.4)),url("Images/bg.png");
        width: 373px;
        text-align: center;
        background-size: 100%;
        height: 275px;
        font-weight: 400px;
    }
    div.header{
        padding-top: 36px;
        line-height: 0px;
        position: relative;
    }
    div.hamburger{
        position: absolute;
        left: 20px;

    }
    div.hamburger div{
        width: 24px;
        height: 1px;
        background-color: white;
        margin: 5px 0;
    }
    header h1{
        margin: 0px;
        font-family: Libre Franklin;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;

    }
    header h2{
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top:50px;
        margin-bottom:0px;
    }
    header h3{
        font-size: 13px;
        line-height: 16px;        
        margin-top: 13px;
        color: #FFFFFF;
        margin-bottom: 0px;
    }
    header h4{
        padding: 0px;
        font-size: 13px;
        margin-top: 41px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }
    section.about{
        margin:0px;
        padding-top: 25px;
        margin-bottom: 0px;

    }
    section.about h1{
        margin-left: 150px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-top: 0px;
    }
    section.about p {
        width:312px;
        height:212px;
        margin-right: 29px;
        margin-left: 34px;
        margin-top: 19px;
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
        color: #333333;
        margin-bottom: 8px;

    }
    section.skills{
        margin: 0px;
        padding-top: 25px;
        background: #FFFAF2;;
        padding-bottom: 7px;
    }
    section.skills h1{
        padding-top: 0px;
        margin-left: 156px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
        
    }
    div#image_skills{
        width: 224px;
        height: 218px;
        padding: 0px;
        margin:25px 80px 26px 71px;
    }
    .skills {
        display: flex;
        flex-direction: column;
    }

    div.skills-description h1{
        padding: 0px;
        margin: 0px;
        font-weight: 600;
        font-size: 12px;
        flex-basis: 100px;
        line-height: 25px;
        padding-left:34px;
    }
    div.skills-description{
        font-size: 12px;
        line-height: 25px;
    }
    section.speciality{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        align-items: center;
    }
    section.speciality.main {
        margin-bottom: 30px;
    }
  
    section.ability{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    div.description.loadbar{
        position: relative;
        width: 211px;
        height: 18px;   
        background: #F5D6AB;
    }
    div.loadbar div{
        position: absolute;
        content: ' ';
        height: 100%;
        background-color:#C66C49 ;
    }
    section.portfolio{
        margin: 0px;
        padding: 0px;
        padding-bottom:24px;
    }
    section.portfolio h1{
        margin: 0px;
        padding: 0px;
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        padding-top: 25px;
    }
    section.portfolio h2{
        margin: 0px;
        padding:0px;
        font-weight: 500;
        font-size: 14px;
        line-height: 25px;
        text-align: center;
        margin-top:19px;
    }
    section.portfolio p{
        margin: 0px;
        padding: 0px;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        margin-top: 15px;
        margin-left: 34px;
        margin-right: 33px;
        height: 71px;
        color: #333333;

    }
    section.portfolio div.gallery{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        }
    div.gallery div.images-left{
        height: 196px;
        margin: 0px;
        display: flex;
        padding: 0px;
        margin-left: 34px;
        margin-right: 15px;
        flex-direction: column;
        justify-content: space-between;

    }
    div.gallery div.images-right{
        height: 196px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    footer {
        position: relative;
        margin: 0px;
        padding: 0px;
        padding-left: 42px;
        padding-bottom: 50px;
    }
    footer h1{
        margin: 0px;
        padding: 0px;
        margin-bottom: 25px;
        padding-top: 25px;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        margin-left:78px;
        color: #333333;
    }
    div.person-info{
        display: flex;
        flex-direction: row;
    }
    footer div.person-info ul{
        padding: 0px;
        margin: 0px;
        list-style: none;
        display: flex;
        flex-direction: column;
    }
    footer div.person-info ul li{
        margin: 0px;
        padding: 0px;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
        margin-bottom: 19px;
    }
    footer div.person-info ul.web-sites{
        margin-right: 99px;
        margin-bottom: 11px;
    }
    footer div.contacts{
        padding: 0px;
        margin: 0px;
    }
    footer div.contacts p.mail{
        margin: 0px;
        padding: 0px;
        margin-bottom: 7px;
        font-size: 14px;
        line-height: 17px;
        color: #333333;
    }
    footer div.contacts p.phone{
        margin: 0px;
        padding: 0px;
        font-size: 12px;
        line-height: 15px;
    }
    .arrow {
        position: absolute;
        bottom: 70px;
        right: 60px;
      }
      
    .arrow::before,
    .arrow::after {
        position: relative;
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        background: #000;
      }
      
    .arrow::before {
        transform: rotate(-45deg);
      }
      
    .arrow::after {
        left: 14px;
        transform: rotate(45deg);
      }

/* } */