
@media screen and (max-width:600px){
    body{
        margin: 0px;
        padding: 0px;
    }
   
    header{
        background:linear-gradient(rgba(198,108,73,0.4),rgba(198,108,73,0.4)),url("Images/bg.png");
        width: 373px;
        text-align: center;
        background-size: 100%;
        height: 275px;
        font-weight: 400px;
    }
    div.header{
        padding-top: 36px;
        line-height: 0px;
        position: relative;
    }
    div.header div#image_header{
        position: absolute;
        left: 34px;
        width:24px;
        bottom: 6px;
        display: inline-block;
    }
    h1{
        margin: 0px;
        font-family: Libre Franklin;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;

    }
    h2{
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin-top:50px;
        margin-bottom:0px;
    }
    h3{
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 16px;        
        margin-top: 13px;
        color: #FFFFFF;
        margin-bottom: 0px;
    }
    h4{
        padding: 0px;
        font-family: 'Libre Franklin';
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        margin-top: 41px;
        line-height: 16px;
        text-decoration-line: underline;
        color: #FFFFFF;
    }
    section.about{
        padding-top: 25px;
        margin-bottom: 0px;

    }
    section.about h1{
        text-align: center;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
        margin-top: 0px;
    }
    section.about p {
        width:312px;
        height:212px;
        margin-right: 29px;
        margin-left: 34px;
        margin-top: 19px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 15px;
        text-align: justify;
        color: #333333;
        margin-bottom: 8px;

    }
    section.skills{
        padding-top: 25px;
        background: #FFFAF2;;
    }
    section.skills h1{
        padding-top: 0px;
        text-align: center;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        color: #333333;
    }
    div#image_skills{
        margin:26px 80px 26px 71px;
    }
    div.skills_h1{
        display:flex;
        margin-bottom: 31px;
        align-items: center;
        margin:0px;
        
    }
    div.skills_h1 h1{
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 25px;
        color: #333333;
        margin-left: 34px;
        width:107px;
        margin-bottom:0px;
        text-align: left;
    }
    div.skills_h1 p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: Libre Franklin;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 25px;
        color: #333333;
    }
}